body{
    font-family: sans-serif;
    max-width:480px;
    margin:2rem auto;
    background-color:#f5f5f5;
    padding:1.5rem;
    border-radius:8px;
}

h1{
    text-align: center;
    font-size:28px;
    font-family:sans-serif;
}

#taskList li{
    display:flex;
    justify-content: space-between;
    background:white;
    padding:0.5rem 0.8rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    border:1px solid #ccc;
}

#addButton{
    background-color:#4caf50;
    color:#ffff;
    border:none;
    padding:0.5rem 1rem;
    border-radius:4px;
}